body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 40px;
}
.color{
    color: royalblue;
}
.all-section{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 80%;
}
.type{
    text-decoration: none;
    background-image: -o-linear-gradient(orange tomato);
    background-color: seagreen;
    padding: 10px 50px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    padding-right: 90px;
}
.last-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px royalblue;
}.last{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}